@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.blob {
    height: 300%;
    background-color: hsl(222, 47%, 11%);
    background-image:
            radial-gradient(at 80% 0%, hsla(225, 68%, 42%, 0.75) 0px, transparent 50%),
            radial-gradient(at 0% 50%, hsla(262, 68%, 32%, 0.45) 0px, transparent 50%);
    backdrop-filter: blur(100px);
}

