@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


@property --interpolation {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

@property --progress-color {
    syntax: '<color>';
    initial-value: hsl(0, 70%, 25%);
    inherits: false;
}

@property --target-color {
    syntax: '<color>';
    initial-value: hsl(150, 70%, 50%);
    inherits: false;
}