@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.blob {
  height: 300%;
  background-color: var(--bg-base-color, hsl(220, 48%, 6%));
  background-image: radial-gradient(
      at 80% 0%,
      var(--gradient-1-color, hsla(225, 69%, 20%, 0.75)) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 0% 50%,
      var(--gradient-2-color, hsla(262, 68%, 19%, 0.45)) 0px,
      transparent 50%
    );
  transition: background-color, 0.5s ease-in-out;
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.animate-pulse-subtle {
  animation: subtle-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes subtle-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.default {
  background: linear-gradient(
    -45deg,
    #23d526,
    #ee7752,
    #e73c7e,
    #f98e1d,
    #23a6d5,
    #23d5ab,
    #23d526
  );
}

.gradient-small {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 250%;
  animation: gradient 5s ease infinite;
}

.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 250%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@font-face {
  font-family: "InterFallback";
  src: local(system-ui);
  ascent-override: 90%;
  descent-override: 22.43%;
  line-gap-override: 0%;
  size-adjust: 107.64%;
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-variation-settings: "opsz" 14;
}

.backdrop-blur-xs {
  --tw-backdrop-blur: blur(2px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
